.Article {
    grid-area: a;
    padding: 20px;
    background: rgb(74, 118, 168);

}

.item1 a {
    color: white;
    text-decoration: none;
    position: relative;
}

.item2 a {
    color: white;
    text-decoration: none;
    position: relative;
}

.item3 a {
    color: white;
    text-decoration: none;
    position: relative;
}

.item4 a {
    color: white;
    text-decoration: none;
    position: relative;
}
a.activeLink {
    color: gold;
}